.input-group {
  margin-left: 5px;
}
table {
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}
.marginbtnlast {
  margin-left: 10px;
}
.form-inline {
  color: wheat;
}
#signout {
  margin-left: 10px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
